.tracker {
    --mainColor: #37373a;
    --borderRadius: 5px;
    --boxShadow: rgba(82, 5, 170, 0.746) 5px 5px 10px 0px;


    margin: 0 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
        "balance transactions"
        "addTransaction transactions";
}

.balance{
    grid-area: balance;
    background-color: var(--mainColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
}

.addTransaction{
    grid-area: addTransaction;
    background-color: var(--mainColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
}

.transactions{
    grid-area: transactions;
    background-color: var(--mainColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
}

@media(max-width: 768px){
    .tracker{
        display: flex;
        flex-direction: column;
        margin: 0 10px 0 10px;
    }
}