@import "themes/theme.module";

.transactionsDateRange {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    // Phone wide
    @media (max-width: $phoneMaxWidth) {
        margin-top: 5px;
    }
}

.dateRangeSelector {
    width: 100%;
}

.phoneButtons {
    margin-top: 9px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .clearButton {
        .clearIcon {
            fill: $primary;
            $size: 15px;
            height: $size;
            width: $size;
        }
    }

    .currentMonthButton {
        .currentMonthButtonIcon {
            fill: $primary;
            $size: 18px;
            height: $size;
            width: $size;
        }
    }
}

.desktopButtons {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    .clearButton {
        .clearIcon {
            fill: $primary;
            $size: 15px;
            height: $size;
            width: $size;
        }
    }

    .currentMonthButton {
        .currentMonthButtonIcon {
            fill: $primary;
            $size: 18px;
            height: $size;
            width: $size;
        }
    }
}
