@import "themes/theme.module";
@import "components/view/View.module";

.topBar {
    height: $phoneTopBarHeight !important;
    min-height: $desktopTopBarHeight !important;

    @media (min-width: $phoneMaxWidth) {
        width: calc(100% - #{$desktopSidePanelWidth}) !important;
        height: $desktopTopBarHeight !important;
        min-height: $desktopTopBarHeight !important;
    }
}

.text {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
}

.sidePanelIcon {
    $size: 25px;
    width: $size;
    height: $size;
    fill: white;
}

.rightSide {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.themeButton {
    margin-right: 15px !important;

    .themeIcon {
        $size: 25px;
        height: $size;
        width: $size;
        fill: white;
    }
}
