.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 150px; 
    width: 150px; 
    margin-top: 2em;
}

.title {

    text-transform: capitalize;

    .visor{
        color:purple;
    }
}

.smallLinks {
    display: flex;
    flex-direction: column;

    :hover{
        cursor: pointer;
    }
}