@import "themes/variables";

.welcome {
    @include flex-column-center;
    padding: $basePadding;
}

.logo {
    margin-top: 15px;
    $logoSize: 115px;
    height: $logoSize; 
    width: $logoSize;
}

.title {
    .visor{
        color:$darkPrimary;
        font-style: italic;
    }
}

.form{
    max-width: 400px;
    background-color: rgba(102, 51, 153, 0.205);
}

.smallLinks {
    display: flex;
    flex-direction: column;
    padding: $basePadding;
    width: fit-content;
    margin-top: 5px;

    :hover{
        cursor: pointer;
    }
}