@import "themes/theme.module";

.loginForm {
    @include flex-column-center;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.lockIcon {
    $logoSize: 50px;
    height: $logoSize; 
    width: $logoSize;
    fill: white;
    background-color: $primary;
    border-radius: 50%;
    padding: 10px;
}