.welcome{
    --purple_1: #9830ff;
    --purple_2: #50347e;
    --purple_3: rgb(209, 130, 255);
    color:white;
    
    background-image: url('/src/assets/images/wellcome_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 2.5fr 1.1fr 0.2fr;
    grid-template-rows:  0.2fr 2.2fr 1.4fr 0.2fr;
    gap: 5px 5px;
    grid-template-areas:
        ". . . ."
        ". intro auth ."
        ". intro contact ."
        " . . . .";
}

.welcome > .intro{
    background-color: var(--grey_1);
    opacity: 0.938;
    grid-area: intro;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box_shadow_color) 0px 7px 29px 0px;
    transition: transform .5s;
}
.welcome > .intro:hover{
    transform: scale(1.02);
    box-shadow: var(--box_shadow_color_hover) 0px 7px 29px 0px;
}

.welcome > .auth{
    background-color: rgba(17, 17, 17, 0.945);
    grid-area: auth;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: var(--box_shadow_color) 0px 7px 29px 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s;
}
.welcome > .auth:hover{
    transform: scale(1.02);
    box-shadow: var(--box_shadow_color_hover) 0px 7px 29px 0px;
}

.welcome > .contact{
    background-color: rgb(160, 160, 160);
    grid-area: contact;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: var(--box_shadow_color) 0px 7px 29px 0px;
    transition: transform .5s;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome > .contact:hover{
    transform: scale(1.02);
    box-shadow: var(--box_shadow_color_hover) 0px 7px 29px 0px;
}

@media(max-width: 768px){
    
    .welcome{
        background: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  0.5fr 2fr 0.5fr;
        gap: 0 0;
        grid-template-areas:
            "auth"
            "intro"
            "contact";
        justify-items: center;
    }

    .welcome > .auth{
        width: 90%;
        box-shadow: none;
    }

    .welcome > .intro{
        width: 90%;
        box-shadow: none;
    }

    .welcome > .contact{
        width: 90%;
        box-shadow: none;
    }
}