@import "themes/theme.module";

.transactionFilter {
    max-width: 350px;
    min-width: 250px;
}

.radios {
    //Phone
    @media (max-width: $phoneMaxWidth) {
        flex-direction: column !important;
    }
}

.selectSVG{
    $size: 15px;
    height: $size;
    width: $size;
    fill: currentColor;
    margin-right: 5px;
}