@import "themes/theme.module";

.barchartIncomes {
    fill: $success;
}

.barchartExpenses {
    fill: $error;
}

.customTooltipWrapper {
    pointer-events: none;
}

.customTooltipContent {
    margin: 0;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    color: $primary;
    max-width: 100px;

    .income {
        color: $success;
    }

    .expense {
        color: $error;
    }
}