@import "themes/theme.module";

.userIcon{
    padding-right: 5px;
}

.userSvg {
    fill: currentColor;
}

.text {
    padding: 10px;
    font-size: 14px;
    text-align: center;

    .userName {
        color: $primary;
    }
}

.icon {
    fill: currentColor;
    $size: 18px;
    height: $size;
    width: $size;
}
