@import "themes/theme.module";

.transactionsList{
    @include flex-column-center;
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.list {
    width: 100%;
    max-height: calc(100vh - 220px);
    overflow-y: auto;

    .listMonth {
        padding: 7px;
        color: $primary;
    }
}

.categorySVG {
    $size: 30px;
    height: $size;
    width: $size;
    fill: currentColor;
}

.addTransactionButton {
    position: absolute !important;
    bottom: 70px !important;
    right: 10px !important;
    z-index: 10 !important;
}

.addIcon {
    $size: 30px;
    height: $size;
    width: $size;
    fill: white;
    stroke: white;
    stroke-width: 15px;
}

.amount {
    font-size: large;

    &.income {
        color: $success;
    }
    &.expense {
        color: $error;
    }

    $iconSize: 12px;
    $iconMarginRight: 3px;
    .plusIcon {
        height: $iconSize;
        width: $iconSize;
        fill: $success;
        margin-right: $iconMarginRight;
    }
    .lessIcon {
        height: $iconSize;
        width: $iconSize;
        fill: $error;
        margin-right: $iconMarginRight;
    }
}