@import "themes/theme.module";

.transactionsList{
    @include flex-column-center;
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.addTransactionFab {
    position: absolute !important;
    bottom: 23px !important;
    right: 15px !important;
    z-index: 10 !important;

    .addIcon {
        $size: 30px;
        height: $size;
        width: $size;
        fill: white;
        stroke: white;
        stroke-width: 15px;
    }
}

.list {
    width: 100%;
    max-height: calc(100vh - 280px);
    overflow-y: auto;

    .listMonth {
        padding: 7px;
        color: $primary;
    }
}

.categorySVG {
    $size: 30px;
    height: $size;
    width: $size;
    fill: currentColor;
}

.amount {
    font-size: large;
    text-align: center;

    &.income {
        color: $success;
    }
    &.expense {
        color: $error;
    }
}

.trnBalance {
    text-align: center;
    font-size: small;
}

.menuDeleteButtonIcon {
    fill: $error;
    $size: 14px;
    height: $size;
    width: $size;
    margin-right: 5px;
}