@import "themes/theme.module";
@import "components/view/View.module";

.desktopSidePanel {
  width: $desktopSidePanelWidth;
  display: flex;
  flex-direction: column;
  height: 100%;

  .desktopSidePanelPaper {
    width: $desktopSidePanelWidth;
  }
}

.top {
  height: $desktopTopBarHeight;

  .topContent {
      height: 99%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .logoIcon {
          $size: 40px;
          width: $size;
          height: $size;
          margin-left: 12px;
        }
      
        .title {
          font-size: large;
          margin-left: 25px;
          .visor{
            color: $primary;
            font-style: italic;
          }
        }
  }
  
}

.principalRoutesList {
  .icon{
      $size: 25px;
      height: $size;
      width: $size;
      fill: currentColor;
      margin-bottom: 3px;
  }
}

.bottom {
  margin-top: auto;
  
  .bottomContent {
    padding: 7px;
    display: flex;
    flex-direction: column;
  }

  .links {
    display: flex;
    justify-content: space-around;
  }

  .legal {
    margin-top: 8px;
    font-style: italic;
    text-align: center;
  }
}