.trk-trn-list{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trk-trn-list > h3{
    color: rgb(156, 109, 243);
    border-bottom: 2px solid rgb(156, 109, 243);
    border-radius: 3px;
    width: 95%;
    padding-bottom: 5px;
    text-align: center;
}

.trk-trn-list > .list{
    width: 95%;
    
    max-height: 365px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #201f1f;
}
::-webkit-scrollbar-thumb {
    background: rgb(108, 19, 209);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 67, 235);
}