.trk-trn-list{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trk-trn-list > .title{
    color: var(--purple_1);
    border-bottom: 3px solid var(--purple_2);
    border-radius: 3px;
    width: 95%;
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}

.trk-trn-list > .list{
    width: 95%;
    padding: 0 12px 0 12px;
    max-height: 420px;
    overflow-y: auto;
}

.trk-trn-list > .spinner{
    border: 10px solid rgb(14, 14, 14);
    border-top: 10px solid var(--purple_1); 
    border-radius: 50%;
    margin-top: 5%;
    width: 100px; 
    height: 100px;
    animation: spinner 1.5s linear infinite;
}
@keyframes spinner{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
