.button {
    padding: 6px;
    margin: 5px;
    border: 0 none;

    &.red {
        background-color: rgb(197, 41, 41);
        color: white;   
    }
    &.green {
        background-color: rgb(19, 209, 60);
        color: white;   
    }

    &:hover {
        cursor: pointer;
    }
}