//Colors

//Dark Theme
$darkBackground: #262626;
$darkPaper: #3a3a3a;
$darkPrimary: #af80ff;
$darkSecondary: #9E9E9E;
$darkError: #DC3522;
$darkWarning: #ff9800;
$darkInfo: #2196f3;
$darkSuccess: #45BF55;
$darkDisabled: #8d8d8d;

// Light Theme
$lightBackground: #ededed;
$lightPaper: #f9f9f9;
$lightPrimary: #556dd6;
$lightSecondary: #19857b;
$lightError: #DC3522;
$lightWarning: #ff9800;
$lightInfo: #2196f3;
$lightSuccess: #45BF55;
$lightDisabled: #b9b9b9;

// Category Colors
$salaryColor: #67CC8E;
$businessColor: #347185;
$giftsColor: #F3835D;
$loanColor: #95A5A5;
$foodColor: #DE9E36;
$homeColor: #FBACBE;
$shoppingColor: #EFC164;
$transportColor: #587B7F;
$billsColor: #F35955;
$leisureColor: #F1C40F;
$healthColor: #197bc6;
$educationColor: #7EA8BE;
$groceriesColor: #b08675;
$sportColor: #2CDA9D;
$otherColor: #D3D0CB;

// Color depending on the theme
$colors: (
  darkBackground: $darkBackground,
  darkPaper: $darkPaper,
  darkPrimary: $darkPrimary,
  darkSecondary: $darkSecondary,
  darkError: $darkError,
  darkWarning: $darkWarning,
  darkInfo: $darkInfo,
  darkSuccess: $darkSuccess,
  darkDisabled: $darkDisabled,

  lightBackground: $lightBackground,
  lightPaper: $lightPaper,
  lightPrimary: $lightPrimary,
  lightSecondary: $lightSecondary,
  lightError: $lightError,
  lightWarning: $lightWarning,
  lightInfo: $lightInfo,
  lightSuccess: $lightSuccess,
  lightDisabled: $lightDisabled,

  salaryColor: $salaryColor,
  businessColor: $businessColor,
  giftsColor: $giftsColor,
  loanColor: $loanColor,
  foodColor: $foodColor,
  homeColor: $homeColor,
  shoppingColor: $shoppingColor,
  transportColor: $transportColor,
  billsColor: $billsColor,
  leisureColor: $leisureColor,
  healthColor: $healthColor,
  educationColor: $educationColor,
  groceriesColor: $groceriesColor,
  sportColor: $sportColor,
  otherColor: $otherColor,
);

//Export to access them in js
:export {
  darkBackground: $darkBackground;
  darkPaper: $darkPaper;
  darkPrimary: $darkPrimary;
  darkSecondary: $darkSecondary;
  darkError: $darkError;
  darkWarning: $darkWarning;
  darkInfo: $darkInfo;
  darkSuccess: $darkSuccess;
  darkDisabled: $darkDisabled;

  lightBackground: $lightBackground;
  lightPaper: $lightPaper;
  lightPrimary: $lightPrimary;
  lightSecondary: $lightSecondary;
  lightError: $lightError;
  lightWarning: $lightWarning;
  lightInfo: $lightInfo;
  lightSuccess: $lightSuccess;
  lightDisabled: $lightDisabled;

  background: var(--backgroundColor);
  paper: var(--paperColor);
  primary: var(--primaryColor);
  secondary: var(--secondaryColor);
  error: var(--errorColor);
  warning: var(--warningColor);
  info: var(--infoColor);
  success: var(--successColor);
  disabled: var(--disabledColor);

  salaryColor: var(--salaryColor);
  businessColor: var(--businessColor);
  loanColor: var(--businessColor);
  giftsColor: var(--giftsColor);
  foodColor: var(--foodColor);
  homeColor: var(--homeColor);
  shoppingColor: var(--shoppingColor);
  transportColor: var(--transportColor);
  billsColor: var(--billsColor);
  leisureColor: var(--leisureColor);
  healthColor: var(--healthColor);
  educationColor: var(--educationColor);
  groceriesColor: var(--groceriesColor);
  sportColor: var(--sportColor);
  otherColor: var(--otherColor);
}

$background: var(--backgroundColor);
$paper: var(--paperColor);
$primary: var(--primaryColor);
$secondary: var(--secondaryColor);
$error: var(--errorColor);
$warning: var(--warningColor);
$info: var(--infoColor);
$success: var(--successColor);
$disabled: var(--disabledColor);

// loop over each name, color
:root {
  // each item in color map
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}


//Other
$basePadding: 5px 15px 5px 15px;
$phoneMaxWidth: 600px;
$maxWidth: 600px;

//Mixins
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Auto Category Colors
.categoryColor{
  &.salary{
    fill: $salaryColor;
  }
  &.business{
    fill: $businessColor;
  }
  &.loan {
    fill: $loanColor;
  }
  &.gifts{
    fill: $giftsColor;
  }
  &.food{
    fill: $foodColor;
  }
  &.home{
    fill: $homeColor;
  }
  &.shopping{
    fill: $shoppingColor;
  }
  &.transport{
    fill: $transportColor;
  }
  &.bills{
    fill: $billsColor;
  }
  &.leisure{
    fill: $leisureColor;
  }
  &.health{
    fill: $healthColor;
  }
  &.education{
    fill: $educationColor;
  }
  &.groceries{
    fill: $groceriesColor;
  }
  &.sport{
    fill: $sportColor;
  }
  &.other{
    fill: $otherColor;
  }
}
