$theme-colors: (
    'dark-primary': #673AB7,
    'secondary': #ffd265,
    'secondaryText': #7e621d,
);



@each $color, $value in $theme-colors {
  :export{
    $color: $value;
  }
}

//Colors
$darkPrimary: #673AB7;
$basePadding: 5px 15px 5px 15px;


//Mixins
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}