@import "themes/theme.module";

.balance {
    width: 100%;
    max-width: 600px;
    padding: $basePadding;

    display: grid;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    gap: 1px 3px;
    grid-template-areas:
        "balanceText rangeBalance"
        "income rangeBalance"
        "expense totalBalance";
}

.balanceText {
    grid-area: balanceText;
    font-size: 1.3rem;
    font-weight: bold;

    .dateRange {
        font-size: 0.7rem;
        font-style: italic;
    }
}

.income {
    grid-area: income;
    color: $success;
}

.expense {
    grid-area: expense;
    color: $error;
}

.rangeBalance {
    grid-area: rangeBalance;
    font-size: 2.3rem;

    &.positive {
        color: $success;
    }
    &.negative {
        color: $error;
    }
}

.totalBalance {
    grid-area: totalBalance;

    &.positive {
        .amount {
            color: $success;
        }  
    }
    &.negative {
        .amount {
            color: $error;
        }
    }

    .text {
        font-size: 0.8rem;
    }
}