@import "themes/theme.module";

.balance {
    width: 100%;
    padding: $basePadding;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    gap: 1px 3px;
    grid-template-areas:
        "balanceText balanceTotal"
        "income balanceTotal"
        "expense balanceTotal";
}

.balanceText {
    grid-area: balanceText;
    font-size: large;
    font-weight: bold;
}

.income {
    grid-area: income;
    color: $success;

    .plusIcon {
        $size: 10px;
        height: $size;
        width: $size;
        fill: $success;
    }
}

.expense {
    grid-area: expense;
    color: $error;

    .lessIcon {
        $size: 10px;
        height: $size;
        width: $size;
        fill: $error;
    }
}

.balanceTotal {
    grid-area: balanceTotal;
    font-size: large;

    text-align: center;

    &.positive {
        color: $success;
    }
    &.negative {
        color: $error;
    }

    .plusIcon {
        $size: 10px;
        height: $size;
        width: $size;
        fill: $success;
    }
    .lessIcon {
        $size: 10px;
        height: $size;
        width: $size;
        fill: $error;
    }
}