.trk-addtrn{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trk-addtrn .title{
    color: rgb(156, 109, 243);
    border-bottom: 2px solid rgb(156, 109, 243);
    border-radius: 3px;
    width: 95%;
    padding-bottom: 5px;
    text-align: center;

    font-size: 20px;
    font-weight: bold;

}