@import "themes/theme.module";

$desktopSidePanelWidth: 250px;
$phoneSidePanelWidth: 300px;

$desktopTopBarHeight: 60px;
$phoneTopBarHeight: 60px;

.view {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: $phoneTopBarHeight;
    padding: 7px;
    width: 100%;
    display: flex;
    justify-content: center;


    @media (min-width: $phoneMaxWidth) {
        margin-top: $desktopTopBarHeight;
    }
}