@import "themes/theme.module";

.cancelButton{
    color: $secondary !important;
}

.deleteButton{
    color: $error !important;
}

.okButton{
    color: $success !important;

    &:disabled {
        color: $disabled !important;
    }
}

.buttonIcon {
    $size: 15px;
    height: $size;
    width: $size;
    fill: currentColor;
}

.editButtons {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    gap: 20px;
    justify-content: center;
}