@import "themes/theme.module";

.barchartIncomes {
    fill: $success;
}

.barchartExpenses {
    fill: $error;
}

.svg{
    $size: 15px;
    height: $size;
    width: $size;
    fill: currentColor;
}

.aa {
    background-color: red;
}