@import "themes/theme.module";

.groupTransactionForm{
    @include flex-column-center;
}

.selectSVG{
    $size: 15px;
    height: $size;
    width: $size;
    fill: currentColor;
    margin-right: 5px;
}