@import "themes/variables";

.loginForm {
    @include flex-column-center;
    padding: $basePadding;

}

.icon {
    background-color: $darkPrimary;
    border-radius: 45%;
    padding: 10px;
}

.form {
}

.submit {
    margin: 1px,
}