.trk {
    margin: 0 150px 0 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  0.6fr 1.4fr;
    gap: 15px 15px;
    grid-template-areas:
        "balance transactions"
        "addTransaction transactions";
}

.trk > .balance{
    grid-area: balance;
    background-color: var(--background_1);
    border-radius: 5px;
    box-shadow: var(--box_shadow_color) 5px 5px 10px 0px;
}

.trk > .add-trn{
    grid-area: addTransaction;
    background-color: var(--background_1);
    border-radius: 5px;
    box-shadow: var(--box_shadow_color) 5px 5px 10px 0px;
}

.trk > .trns{
    grid-area: transactions;
    background-color: var(--background_1);
    border-radius: 5px;
    box-shadow: var(--box_shadow_color) 5px 5px 10px 0px;
}

@media(max-width: 768px){
    .trk{
        display: flex;
        flex-direction: column;
        margin: 0 10px 0 10px;
    }
    .trk > .balance{
        box-shadow: none;
    }
    
    .trk > .add-trn{
        box-shadow: none;
    }
    
    .trk > .trns{
        box-shadow: none;
        margin-bottom: 5px;
    }
}